<ion-view view-title="Biblioteca Virtual">
  <ion-content>
    <h1>Biblioteca</h1>
<div class="bar bar-header item-input-inset">
  <label class="item-input-wrapper">
    <i class="icon ion-ios-search placeholder-icon"></i>
    <input type="search" placeholder="Search">
  </label>
  <button class="button button-clear">
    Cancel
  </button>
</div>

    <div class="list">

  <div class="item item-divider">
    Ingenieria
  </div>

  <a class="item" href="#/app/Programacion">
    Como Programar en C++
  </a>

  <a class="item" href="#/app/Sistemas">
    Sistemas Operativos
  </a>

<a class="item" href="#/app/Algebra">
    Fundamentos de Algebra Lineal
  </a>

<a class="item" href="#">
    Programacion multi hilo
  </a>

 <div class="item item-divider">
    Medicina
  </div>

  <a class="item" href="#">
    Introducción a la anatomia 1
  </a>

  <a class="item" href="#">
    Anatomia 2
  </a>

<a class="item" href="#">
    Fisiologia humana
  </a>

<a class="item" href="#">
    Programacion paralela 1
  </a>


</div>



</div>
  </ion-content>
</ion-view>
