<ion-view view-title="Acera de">
  <ion-content>    
	<div class="card">
		<div class="item item-divider">
		CUTONALAPS
			<div class="item item-text-wrap">    
				Versión 1.0 (Build 2015)
			</div>
			<div class="item item-text-wrap">
				Copyright 2015 por el equipo de CUTONALAPS conformado por: </br>
				Desarrolladores: </br>
				Luis Daniel Mora Carbajal, José Pablo Arriaga Valencia, Juan Carlos Bandala Alvarez y Carlos Adrián Blas Navarro </br>
				Director de proyecto: </br>
				Doc. Marco Perez </br>
				Asesor de proyecto: </br>
				Doc. Cesar Garcia </br>
				Esta aplicación fue hecha con la finalidad de ayudar tanto a los estudiantes como a los 
				docentes a tener información relevante y actual sobre acontecimientos en la Universidad
			</div>
			
			<div class="item item-text-wrap">
				Para mayor información visita nuestras redes sociales
				<table border="1">
					<tr>
						<td> 
							<img src="img/Icono_Facebook.png" width="70px" height="70px" alt="Facebook">  
							</br> 
						</td>
						
						<td> 
							<img src="img/twiter.jpeg" width="70px" height="70px" alt="Twiter">  
							</br> 
						</td>
					</tr>								
				</table>
			</div>			
				
		</div>
	</div>	
  </ion-content>
</ion-view>