<ion-view view-title="Configuración">
  <ion-content>
    <h1>Configuración</h1>
<h1>hola</h1>
    <div class="card">
  		<div class="item item-text-wrap">
    <p> Para Poder tener acceso a todas las funciones 
    de Cutonalaps, es necesario que te registres con tu 
    codigo y usuario de SIIAU</p>
     <button class="button button-small button-assertive" ng-click="login()">
  Iniciar Sesión
</button>	
  		</div>
	</div>

	  <div class="card">

  		<ul class="list">

  <li class="item item-toggle">
     Recibir Notificaciones
     <label class="toggle toggle-assertive">
       <input type="checkbox">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  </li>

</ul>
	  </div>
	  <div class="item item-text-wrap">
	  <p>Carrera cursando Actualmente</p>
	  <div class="list">

  <label class="item item-input item-select">
    <div class="input-label">
    Carrera:
    </div>
    <select>
      <option selected>Ing. En Ciencias Computacionales</option>
      <option >Ing. en Nanotecnología</option>
      <option>Ing. en Energia</option>
      <option>Salud Publica</option>
      <option>Nutrición</option>
      <option>Medico Cirujano y Partero</option>
      <option>Historia del Arte</option>
      <option>Gerontologia</option>
      <option>Estudios Librerales</option>
      <option>Diseño de Artesanias</option>
      <option>Contaduria Publica</option>
      <option>Administración de Negocios</option>
    </select>
  </label>

</div></div>
  </ion-content>
</ion-view>
