<ion-view view-title="Contactanos">
<ion-content id="contacto">
<div class="card">

	<p>Puedes encontrarnos en nuestras redes sociales</p>
<a href="https://www.facebook.com/centrouniversitariodetonala?fref=ts">
<img width="48" height="48" src="img/Icono_Facebook.png">


</a>

<a href="https://twitter.com/Cutonala_udg">
<img width="48" height="48" src="img/twitter-icono.png">

</a>
</div>
<div class="item item-text-wrap">
Dirección	
<div class="card">
<p>Campus CUTonalá Av. Nuevo Periférico No. 555 Ejido San José Tatepozco, C.P. 48525, Tonalá Jalisco, México.</p>

<p>Sede Provisional Casa de la Cultura - Secretaría Administrativa: Morelos #180, Zona Centro, C.P. 45400, Tonalá, Jalisco, México.</p>
</div>
Telefono
<div class="card">
<p>Teléfono: +52 (33) 35403020 Ext. 64007 y 64044</p>
</div>
</div>
</div>
</ion-content>
</ion-view>