<ion-view view-title="Cutolapp's">
  <ion-content>
  <div class="card">
  <div class="item item-text-wrap">
   <ion-slide-box on-slide-changed="slideHasChanged($index)">
  <ion-slide>
    <div class="box blue"><img src="http://www.cutonala.udg.mx/sites/default/files/images/banner_fsl2015.png"></div>
  </ion-slide>
  <ion-slide>
    <div class="box yellow"><img src="img/banner_fsl2015.png"></div>
  </ion-slide>
  <ion-slide>
    <div class="box pink"><img src="img/banner_semana_laboral2015.png"></div>
  </ion-slide>
  <ion-slide>
    <div class="box pink"><img src="http://www.cutonala.udg.mx/sites/default/files/images/banner_vive_conciencia2015.png"></div>
  </ion-slide>
</ion-slide-box>
  <div class="card">
  <div class="item item-divider">
    Agenda
  </div>
 
<div id="TT_tyYEkkE1k1E9EQIAOAujzjjDDxlA1fd2rYEdEcCoa1zIm5G53">El tiempo por Tutiempo.net</div>
<script type="text/javascript" src="http://www.tutiempo.net/widget/eltiempo_tyYEkkE1k1E9EQIAOAujzjjDDxlA1fd2rYEdEcCoa1zIm5G53"></script>
  <div class="item item-avatar">
    <img src="img/cutonala.jpg">
    <h2>CuTon</h2>
    <p>Septiembre 25, 2015</p>
  </div>
   <div class="item item-text-wrap">
     Se crea Cuttonapp
  </div>

  <div class="item item-avatar">
    <img src="img/cutonala.jpg">
    <h2>Admin</h2>
    <p>Octubre 01, 2015</p>
  </div>
   <div class="item item-text-wrap">
    Congreso de Estudiantes, Intituto de Agua Energia 
  </div>
  </div>
</ion-view>
  </ion-content>
