<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Iniciar Sesión</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Cerrar</button>
    </div>
  </ion-header-bar>

  <ion-content>
   <label class="item item-input">
  <span class="input-label">Código</span>
  <input type="tel">
</label>
<label class="item item-input">
  <span class="input-label">Contraseña</span>
  <input type="password">
</label>

	<p>Para poder visualizar tu horario, es necesario que inicies sesión
	con tu código de estudiante y contraseña de Siiau</p>
    
  </ion-content>
</ion-modal-view>
