<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-stable">
      <h1 class="title">Menú</h1>
    </ion-header-bar>
    <ion-content>
    <ion-item menu-close href="#/app/playlists">
         <i class="icon ion-home"></i> Inicio 
        </ion-item>
      <ion-list>
        <ion-item menu-close href="#/app/cafeteria" >
         <i class="icon ion-android-restaurant"></i> Café 
        </ion-item>
        <ion-item menu-close ng-click="login()" >
         <i class="icon ion-android-time"></i> Horario 
        </ion-item>
        <ion-item menu-close href="#/app/biblioteca">
         <i class="ion-android-bookmark"></i> Biblioteca
        </ion-item>
        <ion-item menu-close href="#/app/noticias">
         <i class="ion-paper-airplane"></i> Noticias
        </ion-item>


 <ion-item menu-close href="#/app/ubicacion">
         <i class="ion-ios-location-outline"></i> Como llegar
       </ion-item>    
         <div class="item item-divider">
  </div>

          <ion-item menu-close href="#/app/contacto">
         <i class="ion-ios-telephone"></i> Contacto
       </ion-item>  
        <ion-item menu-close href="#/app/browse">
         <i class="icon ion-ios-people"></i> Acerca De 
        </ion-item>
        <ion-item menu-close href="#/app/config">
         <i class="icon ion-gear-a"></i> Configuración 
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
