<ion-view view-title="Noticias">
  <ion-content>
  <div id="header">a</div>
  <div class="list">

  <div class="item item-divider">
   Lunes:
  </div>

  <a class="item" href="#">
  10:00-13:00 &nbsp;&nbsp;&nbsp; Chilaquiles 
  </a>


  <a class="item" href="#">
  13:00-18:00 &nbsp;&nbsp;&nbsp; Sopa del dia 
  </a>

  <div class="item item-divider">
   Martes:
  </div>

  <a class="item" href="#">
  10:00-13:00 &nbsp;&nbsp;&nbsp; Mole 
  </a>

  <a class="item" href="#">
  10:00-13:00 &nbsp;&nbsp;&nbsp; Menudo 
  </a>

  <div class="item item-divider">
   Miercoles:
  </div>

  <a class="item" href="#">
  10:00-13:00 &nbsp;&nbsp;&nbsp; Carne Con Chile 
  </a>

  <a class="item" href="#">
  10:00-13:00 &nbsp;&nbsp;&nbsp; Albondigas 
  </a>


  <div class="item item-divider">
   Jueves:
  </div>

  <a class="item" href="#">
  10:00-13:00 &nbsp;&nbsp;&nbsp; Chiles Rellenos 
  </a>

  <a class="item" href="#">
  10:00-13:00 &nbsp;&nbsp;&nbsp; Lonches De Piña(La especialiad de la casa :) ) 
  </a>


  <div class="item item-divider">
   Viernes:
  </div>

  <a class="item" href="#">
  10:00-13:00 &nbsp;&nbsp;&nbsp; Pozole 
  </a>

  <a class="item" href="#">
  10:00-13:00 &nbsp;&nbsp;&nbsp; Chilaquiles 
  </a>

</div>
  </ion-content>
</ion-view>
