<ion-view view-title="Noticias">
  <ion-content>
    <h1>Noticias</h1>
  <div class="list">
    <a class="item item-thumbnail-left" href="#/app/primeranoticia">
    <img src="img/camion.jpg">
      <p>Ruta 368 CuTonala hace su debut para llevar a todos los estudiantes.</p>
      <p>Por: Luis Daniel M.C</p>

  </a>
   </div>

 <div class="list">
    <a class="item item-thumbnail-left" href="#/app/segundanoticia">
    <img src="img/foto.jpg">
      <p>Postergan inicio de clases en CUTonalá</p>
      <p>Por: Juan Carlos B.A.</p>

  </a>
   </div>
 

<div class="list">
    <a class="item item-thumbnail-left" href="#/app/terceranoticia">
    <img src="img/ruta.jpg">
      <p>Gobernador inaugura nuevo tramo del Periférico en Tonalá</p>
      <p>Por: Jose Pablo A.V.</p>

  </a>
   </div>







</div>
  </ion-content>
</ion-view>
