<ion-view view-title="Cutolapp's">
  <ion-content>
  <div class="card">
  <div class="item item-text-wrap">
   <ion-slide-box on-slide-changed="slideHasChanged($index)">
  <ion-slide>
    <div class="box blue"><img src="http://www.cutonala.udg.mx/sites/default/files/images/banner_rutas_0.png"></div>
  </ion-slide>
  <ion-slide>
    <div class="box yellow"><img src="http://www.cutonala.udg.mx/sites/default/files/images/banner_eduardo_galeano_libro_0.png"></div>
  </ion-slide>
  <ion-slide>
    <div class="box pink"><img src="http://www.cutonala.udg.mx/sites/default/files/images/posgrado-maestria-movilidad.jpg"></div>
  </ion-slide>
  <ion-slide>
    <div class="box pink"><img src="http://www.cutonala.udg.mx/sites/default/files/images/banner_investigadores_agua.jpg"></div>
  </ion-slide>
</ion-slide-box>
  <div class="card">
  <div class="item item-divider">
    Agenda
  </div>
 


  <div class="item item-avatar">
    <img src="img/cutonala.jpg">
    <h2>CuTon</h2>
    <p>Octubre 30, 2015</p>
  </div>
   <div class="item item-text-wrap">
      Tercer Concurso de Fotografia "La Tradicion de la Muerte"
  </div>

  <div class="item item-avatar">
    <img src="img/cutonala.jpg">
    <h2>Admin</h2>
    <p>Noviembre 9 , 2015</p>
  </div>
   <div class="item item-text-wrap">
    II Coloquio de investigacion en Ciencias Sociales 19 y 20 de Noviembre
    
  </div>
  </div>
  </ion-content>
</ion-view>
