<ion-view view-title="Noticias">
  <ion-content>
  <div id="header">a</div>
  <div class="item item-avatar">
    <img src="img/mora.jpg">
    <h2>Noviembre 8 del 2015</h2>
    <p>Por: Luis Daniel M.C. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    
    
    </p>
  </div>

  <div class="item item-body">
    <img align="left" width="220" height="220" src="img/camion.jpg"> 
     <h2 align="left" class = "titulonoticias">Ruta 368 CuTonala hace su debut para llevar a todos los estudiantes. </h2>

    <p align="middle" >
      El próximo lunes comenzará a operar la primera ruta exprés escolar, será una extensión de la 368 que brindará el servicio al Centro Universitario de Tonalá. El nuevo derrotero partirá de Periférico Norte y Federalismo, a la altura de la Estación Periférico Norte de la Línea 1 del Tren Ligero, con destino al plantel educativo; mañana viernes se realizarán recorridos de prueba.
 
"Están señalizados todos los puntos donde se va a parar, hay un señalamiento horizontal metálico que dice 368 CUTonalá, es como será el señalamiento para identificarlo", explicó Gudiño Coronado.
 
Al igual que el resto del transporte público convencional la tarifa será de seis pesos y habrá recepción de bienevales y transvales. La ruta exprés estudiantil no prestará el servicio los domingos y los sábados circulará la mitad de las unidades al reducirse el flujo de estudiantes, significará para ellos esperas de 20 minutos ese día.
 
En horas pico se calcula que habrá el flujo de 450 estudiantes que utilizarán el servicio de transporte, según estudios del Instituto de Movilidad.

En total serán 12 unidades las que tendrá la extensión de la ruta 368 CUT, uno de estos camiones tendrá rampa para personas con discapacidad. Seis vehículos serán de SyT y otro tanto se subrogaron.
 
Al considerar que pagarán tarifa preferencial la mayoría de los usuarios de la nueva ruta, el director de SyT, Samuel Zamora, comentó que sobre la marcha se evaluará si será o no redituable.
 
La inversión realizada por la paraestatal en los seis nuevos vehículos fue de 7.2 millones de pesos. 
 
Los camiones a utilizar son nuevos y de acuerdo a las autoridades cumplen con conductores capacitados, a quienes se les paga salario fijo, cuentan con uniforme y gafete. Los camiones tienen instalados letreros electrónicos de información al usuario, sistema de localización GPS/GPRS, regulador de velocidad, así como cuatro cámaras y DVR de videograbación.

    </p>
  </div>
  </ion-content>
</ion-view>
