<ion-view view-title="">
  <ion-content>
    



 <div class="item item-body">
    <img width="220" height="300" src="img/c++.jpg" align=left>
    <p>



<h2>

 <p align="center"> Titulo: Como Programar en C++ (Novena Edicion)</p> 

 <p align="center"> Autor: Paul Deitel & Harvey Deitel </p>

 <p align="center"> Editorial: Pearson </p><br><br>
 <br>
 <br>
 <br>


  <p align="center"> Bienvenido a la programación con C++, uno de los lenguajes de programación orientada a objetos más populares. Este libro utiliza las tecnologías de computación de vanguardia, y su base es el reconocido método de código activo de Deitel, donde los conceptos se presentan en el contexto de programas funcionales completos, seguidos de ejecuciones de ejemplo, en lugar de hacerlo a través de fragmentos separados de código.</p>





















  </ion-content>
</ion-view>
