<ion-view view-title="Noticias">
  <ion-content>
  <div id="header">a</div>
  <div class="item item-avatar">
    <img src="img/bandala.jpg">
    <h2>Noviembre 8 del 2015</h2>
    <p>Por: Juan Carlos B.A. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    
    
    </p>
  </div>

  <div class="item item-body">
    <img align="left" width="220" height="220" src="img/foto.jpg"> 
     <h2 align="left" class = "titulonoticias">Postergan inicio de clases en CUTonalá. </h2>

    <p align="middle" >
     Hoy regresan e inician clases miles de estudiantes de nivel medio y superior en la Universidad de Guadalajara (UdeG). Sin embargo, las actividades en el edificio del Centro Universitario Tonalá (CUTonalá), ubicado en un terreno aledaño al nuevo Periférico, iniciarán hasta una semana después del calendario oficial.

Las sedes alternas al centro, donde se imparten clases a los alumnos de la Universidad, arrancan clases hoy, de manera normal.

El número de alumnos que sí ingresarán a la parte terminada del edificio en este ciclo, oscila entre los 300 y 500, informó el secretario general del Ayuntamiento de Tonalá, Oswaldo Bañales Orozco.

El CUTonalá cuenta con una matrícula de alrededor de tres mil 600 alumnos, los cuales toman sus clases en las dos sedes que se hicieron provisionales mientras terminan la obra del centro universitario.

    </p>
  </div>
  </ion-content>
</ion-view>
