<ion-view view-title="">
  <ion-content>
    



 <div class="item item-body">
    <img width="220" height="300" src="img/tan.jpg" align=left>
    <p>



<h2>

 <p align="center"> Titulo: Sistemas Operativos Modernos (Tercera Edicion)</p> 

 <p align="center"> Autor: Andrew S. Tanenbaum </p>

 <p align="center"> Editorial: Pearson </p><br><br>
 <br>
 <br>
 <br>


  <p align="center"> En esta nueva edición se reordenaron los capítulos para colocar el material central al principio. También se puso mayor énfasis en el sistema operativo como el creador de las abstracciones. Los procesos, espacios de direcciones virtuales y archivos son los conceptos clave que proporcionan los sistemas operativos.- Proporcio na una introducción al lenguaje de programación C y al modelo de C en tiempo de ejecución.- Análisis de los hilos (threads), se modificó y expandió para reflejar su nueva importancia.- Sobre la administración de memoria, se reorganizó para poner énfasis en la idea de que una de las funciones clave de un sistema operativo es proporcionar la abstracción de un espacio de direcciones virtuales para cada proceso.</p>





















  </ion-content>
</ion-view>
