<ion-view view-title="Noticias">
  <ion-content>
  <div id="header">a</div>
  <div class="item item-avatar">
    <img src="img/pablo.jpg">
    <h2>Noviembre 8 del 2015</h2>
    <p>Por: Luis Daniel M.C. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    
    
    </p>
  </div>

  <div class="item item-body">
    <img align="left" width="220" height="220" src="img/ruta.jpg"> 
     <h2 align="left" class = "titulonoticias">Gobernador inaugura nuevo tramo del Periférico en Tonalá. </h2>

    <p align="middle" >
      Esta mañana, el gobernador del Estado, Emilio González Márquez dio por terminadas las obras de modernización del Periférico Oriente, en Tonalá, y la ampliación de la Avenida 8 de Julio, en Tlaquepaque.

González Márquez reconoció que para que esto fuera una realidad, se tuvo que conjuntar el trabajo de cuatro instancias diferentes, luego de que la obra, realizada con recursos del Consejo de la Zona Metropolitana de Guadalajara  –diputados federales- se haya solicitado durante muchos años, logrando así tener recursos para que las obras se sigan llevando a cabo.

Al respecto, el mandatario estatal refirió que “en las cosas importantes sabemos trabajar juntos el Ejecutivo y el Legislativo, ambos poderes del Gobierno de Jalisco, y habremos de reconocer al diputado Carlos Rodríguez, presidente del Congreso del Estado por ese compromiso para seguir llevando a cabo la obra que necesita nuestro Estado”, además de la participación de los presidentes municipales de la Zona Metropolitana, con los que se llegó a un acuerdo de realizar la obra en Tonalá, pues la idea es priorizar lo que requiere la metrópoli.

    </p>
  </div>
  </ion-content>
</ion-view>
