<ion-view view-title="Como llegar">
<ion-content id="ubicacion">
<div id="header">a</div>

<div class="item item-text-wrap">
Ubicacion
<div class="card">
<p>En esta seccion puedes encontrar la ubicacion del Centro Universitario de Tonala</p>

<a href="https://www.google.com.mx/maps/place/Universidad+de+Guadalajara+Centro+Universitario+de+Tonal%C3%A1/@20.5659959,-103.2285853,17z/data=!3m1!4b1!4m2!3m1!1s0x842f4b213a134437:0xaab4cc0f017db0ad">

<img width="48" height="48" src="img/llegar_icono.png">
</a>
</div>
Moovit
<div class="card">
<p>Moovit es una aplicacion de rutas de camion para saber a que hora pasa el siguiente camion</p>
<a href="https://play.google.com/store/apps/details?id=com.tranzmate&hl=es_419"</a>
<img width="48" height="48" src="img/moovit-app-icon.png">
</div>


</ion-content>
</ion-view>