#cafe{
	background:url(../img/cafe.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    }
.letrascafe{
	
	color: #fff;
	font-family: 'Lobster', cursive;
}
.titulo{
	background: rgba(0,0,0,0.5);
}

.titulonoticias{
	color: #000;
}

#header{
	padding-top: 15%;
	opacity: 0;
}
